[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
django-cloudinary-storage = "*"
pillow = "*"

[dev-packages]
django = "*"
pillow = "*"
mysql = "*"
pymysql = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
